@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --ssg-point-primary: #000;
  --ssg-point-secondary: #fff;
  --ssg-point-tertiary: #f5f5f5;

  --billita-white: #ffffff;
  --billita-black: #1e1e1e;
  --billita-blue: #0071ff;
  --billita-gray: #d9d9d9;
  --billita-primary: #070b0b;
  --billita-secondary: #ff4974;
  --billita-blueHighlight: #00c4df;

  --ssg-point-primary-gradient: linear-gradient(126deg, #F40000 0%, #E6772A 7.29%, #EE9C38 17.71%, #EDAE3D 53.36%, #E78A41 65.63%, #A460C4 79.52%, #9C6BC2 88.98%, #71A2B9 96.55%);
}

@media (prefers-color-scheme: dark) {
  :root {
   /* dark mode */
  }
}
* {
  box-sizing: border-box;
}

body, ul, ol, li, h1, h2, h3, h4, h5, h6, p, button, input, textarea, figure, figcaption, blockquote, dl, dd {
  margin: 0;
  padding: 0;
}

.header_bottom li {
  position: relative;
}
.header_bottom li.active a::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: var(--ssg-point-primary);
  animation: slideUp 0.3s ease-in-out forwards;
}

@keyframes slideUp {
  0% {
    top: 0;
  }
  100% {
    top: -0.5rem;
  }
}

.main_header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background-color: var(--ssg-point-secondary);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  padding-bottom: 0;
}


/* sweet alert */

/* swal custom */
.mySwalConfirmButton {
  background-color: var(--billita-blueHighlight) !important;
  border-radius: 1rem !important;
  font-size: 0.8rem !important;
  padding: 0.5rem 2rem !important;
}

.mySwalConfirmButton {
  justify-content: center !important;
}

.mySwalConfirmButton:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 113, 255, 0.1) !important;
}

.mySwal-only-confirm .mySwalConfirmButtonOnly {
  background-color: var(--billita-blueHighlight) !important;
  border-radius: 1rem !important;
  font-size: 0.8rem !important;
  padding: 0.5rem 2rem !important;
  justify-content: center !important;
}

.mySwal-only-confirm .swal2-popup.swal2-toast .swal2-styled {
  margin: 0 auto !important;
  justify-content: center !important;
}

.mySwal-only-confirm .swal2-title {
  font-size: 0.8rem !important;
}

.mySwalCancelButton {
  background-color: var(--billita-secondary) !important;
  border-radius: 1rem !important;
  font-size: 0.8rem !important;
  padding: 0.5rem 2rem !important;
}

.swal2-html-container {
  font-size: 0.9rem !important;
  font-weight: normal !important;
  font-family: var(--billita-hangul) !important;
}

.swal2-popup {
  width: 80% !important;
  border-radius: 1rem !important;
  padding: 2rem 0 2rem 0 !important;
}

.my-swal {
  font-weight: bold !important;
  font-family: var(--billita-hangul) !important;
}

.my-swal .swal2-popup {
  padding: 0.5rem 1rem !important;
  background-color: black !important;
  border-radius: 0.3rem !important;
  mix-blend-mode: hard-light;
  opacity: 0.9;
}

.my-swal .swal2-html-container {
  font-size: 0.8rem !important;
  font-weight: normal !important;
  color: white !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.my-swal .swal2-icon.swal2-info {
  visibility: hidden;
  position: absolute;
}

.my-swal-warning {
  font-weight: bold !important;
  font-family: var(--billita-hangul) !important;
}
.my-swal-warning .swal2-popup.swal2-toast .swal2-html-container {
  color: var(--billita-secondary) !important;
  font-size: 0.7rem !important;
}

.my-swal-warning .swal2-popup {
  border-radius: 0.3rem !important;
  background-color: #ffffff !important;
  font-weight: 0.8rem !important;
  mix-blend-mode: hard-light !important;
  padding: 0.3rem !important;
  justify-content: center !important;
}

.my-swal-warning .swal2-popup.swal2-toast .swal2-icon {
  visibility: hidden !important;
}

.mySwal-only-confirm {
  justify-content: center !important;
}
